@import "tailwindcss";
/* tailwind css v4.x */
@import "tailwindcss";
@import "tailwindcss-animated";

@theme{
    --font-primary: "Chewy";
    --font-secondary: "Fredoka";
}

@font-face{
    font-family: 'Chewy';
    src: url('/fonts/Chewy.woff2') format('woff2');
    /* font-weight: 600; */
    font-display: swap;
}

@font-face{
    font-family: 'Fredoka';
    src: url('/fonts/Fredoka.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}