---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title='Perro Shower' description='Primera Camda de Chofis'>
	<!-- <section class="overflow-hidden bg-gradient-to-br from-blue-900 via-50% to-rose-900 min-h-full flex flex-col justify-center items-center text-white relative"> -->
    <section class="overflow-hidden bg-stone-800 min-h-full flex flex-col justify-center items-center text-white relative">
        <article class="flex flex-col justify-center align-center text-center">
            <h1 class="font-primary text-4xl">PERRY SHOWER</h1>
            <h2 class="font-secondary text-2xl">DOMINGO 24 DE AGOSTO</h2>
            <h3 class="font-secondary text-xl">14:00 hrs</h3>
            <span class="font-secondary text-sm">SI ES QUE LLEGO... PORQUE YA QUIEREN SALIR LOS CANIJOS.</span>
            <!-- <span class="font-secondary text-sm">😥</span> -->
        </article>
        <!-- <img src="../../../src/img/Chofis_v1.webp" alt="" class="absolute top-5 left-5 rotate-45 w-[124px] lg:w-[50vw] drop-shadow-blue-500 drop-shadow-xl"> -->
        <!-- <img src="../../../src/img/Chofis_v1.webp" alt="Chihuahua caminando animado." class="absolute bottom-10 right-5 -rotate-125 w-[124px] lg:w-[50vw]"> -->
        <img 
            src="../../../src/img/Chofis.webp" 
            alt="Chihuahua embarazado animado." 
            class="w-[90vw] lg:w-[50vw] drop-shadow-amber-500 drop-shadow-2xl animate-wiggle animate-infinite animate-duration-[5000ms] animate-ease-in-out"
        >
        <img 
            src="../../../src/img/Cachorros_v1.webp" 
            alt="Cachorros Chihuahua animado." 
            class="absolute bottom-5 left-15 w-[120px] lg:w-[50vw]"
        >
        <img 
            src="../../../src/img/Cachorros_v2.webp" 
            alt="Cachorros Chihuahua animado." 
            class="absolute top-5 w-[98px] lg:w-[5vw]"
        >
        <img 
            src="../../../src/img/Chofis_v3.webp" 
            alt="Chihuahua boca arriba animado." 
            class="absolute bottom-5 right-0 w-[200px] lg:w-[50vw]"
        >
        <!-- <span class="font-secondary mx-4 text-center z-20">Te invito a conocerme y acompañarme en esta mi primera camada.</span> -->
    </section>
</Layout>
